{% extends "layouts/main.html" %}

{% block pageTitle %}
  Primary navigation page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}
  {{ xGovukPrimaryNavigation({
    visuallyHiddenTitle: "Site navigation",
    items: [{
      text: "Apprenticeships",
      href: "apprenticeships"
    }, {
      text: "Education and training",
      href: "education"
    },{
      text: "Traineeships",
      href: "traineeships"
    }]
  }) }}

  <div class="govuk-width-container">
    <!--{{ govukBackLink({
      href: "javascript:window.history.back()"
    }) }}-->

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          
          <br><br><br><br><br><br>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  <a href="#" class="govuk-link govuk-link--no-underline">Delivery</a>
                </h3>
                

                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link govuk-link--no-underline">Quality</a>
                  </h3>
                </div>

                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link govuk-link--no-underline">Achievement rate</a>
                  </h3>
                </div>

                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link govuk-link--no-underline">Retention rate</a>
                  </h3>
                </div>
                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link govuk-link--no-underline">Pass rate</a>
                  </h3>
                </div>
                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link govuk-link--no-underline">Exclusions</a>
                  </h3>
                </div>
                  <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                      <a href="#" class="govuk-link govuk-link--no-underline">Demographics</a>
                    </h3>
                  </div>

                  <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                      <a href="#" class="govuk-link govuk-link--no-underline">Subject sector area</a>
                    </h3>
                  </div>

                  <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                      <a href="#" class="govuk-link govuk-link--no-underline">Aims</a>
                    </h3>
                  </div>

                  <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                      <a href="#" class="govuk-link govuk-link--no-underline">Subcontractors</a>
                    </h3>
                  </div>

                  <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                      <a href="#" class="govuk-link govuk-link--no-underline">Campus</a>
                    </h3>
                  </div>
                  
              
      
              </div>
            </fieldset>
          </div></div>
        <div class="govuk-grid-column-three-quarters">
          <span class="govuk-caption-l">1st Care Training Limited</span>
          <h1 class="govuk-heading-l">
            Education and training
          </h1>

          <br>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <br>
            <br>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
            <br>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
    
         
          <br>

          


    </div>
        </div>

    </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
