{% extends "layouts/main.html" %}

{% block pageTitle %}
  Primary navigation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}
  {{ xGovukPrimaryNavigation({
    visuallyHiddenTitle: "Site navigation",
    items: [{
      text: "",
      href: "#"
    }, {
      text: "",
      href: "#"
    }]
  }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
  
          <h1 class="govuk-heading-l">
            Further education reports
          </h1>

       

         <h2 class="govuk-heading-m">Your data reports</h2>
          

          <div class="govuk-grid-row tile-group">

            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="apprenticeships">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Apprenticeships</span>
                        
                    </a>
                    <div class="govuk-body warning-info-2">Lorem ipsum </div>
                    <span id="ob1" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        lorem ipsum
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next1">Next</a> 
                    </span>
                </div>




            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="education">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Education and training</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"></span>
                    </a>
                    <div class="govuk-body warning-info-2">Lorem ipsum</div>
                    <span id="ob6" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            lorem ipsum
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next2">Next</a> 
                        </span>
                </div>


            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="traineeships">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Traineeships</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Lorem ipsum</div>
                <span id="ob4" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View 13 reports
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next3">Next</a> 
                    </span>
            </div>
          </div>
            <br>
            <h2 class="govuk-heading-m">Download your data</h2>

            <div class="govuk-grid-row tile-group">

              <div class="govuk-grid-column-one-third tile">
                      <a class="grey min-height-small" href="#">
                          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Achievement rate </span>
                          
                      </a>
                      <div class="govuk-body warning-info-2">2022/23 </div>
                      <span id="ob1" class="govuk-body onboarding-info">
                          <div class="arrow-up"></div>
                          <a class="close" href="#">Close</a>
                          lorem ipsum
                           <br>
                          <a href="#" class="govuk-button govuk-!-margin-top-2 next1">Next</a> 
                      </span>
                  </div>
  
  
  
  
              <div class="govuk-grid-column-one-third tile">
                      <a class="grey min-height-small" href="#">
                          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Achievement rate </span> <br>
                          <span class="govuk-body govuk-!-font-size-16"></span>
                      </a>
                      <div class="govuk-body warning-info-2">2021/22</div>
                      <span id="ob6" class="govuk-body onboarding-info">
                              <div class="arrow-up"></div>
                              <a class="close" href="#">Close</a>
                              lorem ipsum
                               <br>
                              <a href="#" class="govuk-button govuk-!-margin-top-2 next2">Next</a> 
                          </span>
                  </div>
  
  
              <div class="govuk-grid-column-one-third tile HideMe">
                  <a class="grey min-height-small" href="#">
                      <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Traineeships</span> <br>
                      <span class="govuk-body govuk-!-font-size-16"> </span>
                  </a>
                  <div class="govuk-body warning-info-2">Check how data is calculated</div>
                  <span id="ob4" class="govuk-body onboarding-info">
                          <div class="arrow-up"></div>
                          <a class="close" href="#">Close</a>
                          View 13 reports
                           <br>
                          <a href="#" class="govuk-button govuk-!-margin-top-2 next3">Next</a> 
                      </span>
              </div>
            </div>
            <br>
            <h2 class="govuk-heading-m">See how the measures are calculated </h2>

            <div class="govuk-grid-row tile-group">

              <div class="govuk-grid-column-one-third tile">
                      <a class="grey min-height-small" href="#">
                          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Achievement rate technical specification </span>
                          
                      </a>
                      <div class="govuk-body warning-info-2">2022/23 </div>
                      <span id="ob1" class="govuk-body onboarding-info">
                          <div class="arrow-up"></div>
                          <a class="close" href="#">Close</a>
                          lorem ipsum
                           <br>
                          <a href="#" class="govuk-button govuk-!-margin-top-2 next1">Next</a> 
                      </span>
                  </div>
  
  
  
  
              <div class="govuk-grid-column-one-third tile">
                      <a class="grey min-height-small" href="#">
                          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Achievement rate technical specification</span> <br>
                          <span class="govuk-body govuk-!-font-size-16"></span>
                      </a>
                      <div class="govuk-body warning-info-2">2021/22</div>
                      <span id="ob6" class="govuk-body onboarding-info">
                              <div class="arrow-up"></div>
                              <a class="close" href="#">Close</a>
                              lorem ipsum
                               <br>
                              <a href="#" class="govuk-button govuk-!-margin-top-2 next2">Next</a> 
                          </span>
                  </div>
  
  
              <div class="govuk-grid-column-one-third tile HideMe">
                  <a class="grey min-height-small" href="#">
                      <span class="govuk-!-font-size-19 govuk-!-font-weight-bold HideMe">Traineeships</span> <br>
                      <span class="govuk-body govuk-!-font-size-16"> </span>
                  </a>
                  <div class="govuk-body warning-info-2">Check how data is calculated</div>
                  <span id="ob4" class="govuk-body onboarding-info">
                          <div class="arrow-up"></div>
                          <a class="close" href="#">Close</a>
                          View 13 reports
                           <br>
                          <a href="#" class="govuk-button govuk-!-margin-top-2 next3">Next</a> 
                      </span>
              </div>
            </div>

          </div>

          </div>
          
   
    </main>
  </div>
{% endblock %}
