{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  

{% endblock %}

{% block content %}




<div class="govuk-grid-row flex">

       

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Your education data</h2>


        <p class="govuk-body-m"></p>
            



        <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Academies and schools </span>
                        <span class="govuk-heading govuk-!-font-size-16">Finance reports</span>
                    </a>
                    
    
                </div>

                
     
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="dash-start" target="_blank">
                        <span class="govuk-heading-m heading">Achievements</span>
                        <span class="govuk-heading govuk-!-font-size-16">and performance </span>
                    </a>
                    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Adult Skills</span>
                        <span class="govuk-heading govuk-!-font-size-16">Funding</span>
                    </a>
                    
                </div>
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Apprenticeships </span>
                        <span class="govuk-heading govuk-!-font-size-16">Achievements framework</span>
                    </a>
                    
    
                </div>

                
     
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Childrens services</span>
                        <span class="govuk-heading govuk-!-font-size-16">Details </span>
                    </a>
                    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Future skills</span>
                        <span class="govuk-heading govuk-!-font-size-16">Details</span>
                    </a>
                    
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Data quality</span>
                        <span class="govuk-heading govuk-!-font-size-16">Details</span>
                    </a>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Reinforced concrete</span>
                        <span class="govuk-heading govuk-!-font-size-16">RAAC</span>
                    </a>
                    
    
                </div>
                

                

                
            
            </div><br><br>      
    
        </div>
   

    <div class="govuk-grid-column-one-quarter"> 
        
        
    </div>
    
</div>


{% endblock %}