{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    
  </p>
</div>

  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-caption-l">
          FE acheivement rates</span>
          
              </legend>
        
        <h1 class="govuk-heading-xl">Birmingham Metropolitan College</h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
   
    <!--<div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Select a comparison
      </label>
      <div id="subject-hint" class="govuk-hint">
        This can be different to where you went before
      </div>
      <select class="govuk-select" id="width-20" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>All</option>
        <option value="eastmidlands">Select none</option>
        <option value="eastmidlands">Select all</option>
        <option value="eastofengland">James Watt</option>
        <option value="london">Matthew Boulton</option>
        <option value="northeast">Stourbridge</option>
        <option value="northwest">Sutton Coldfield</option>
        <option value="southeast">South East</option>
      </select>
    </div>-->
    


    <div class="govuk-form-group">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Home</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Measures</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Compare with others</a>
        </li>
        <li>
          <a class="govuk-link" href="ofsted">Ofsted report</a>
        </li>
      </ul>
    </div>
  </div>

  
  <div class="govuk-grid-column-three-quarters">  
  &nbsp; &nbsp; <h2 class="govuk-heading-m">Performance indicators</h2>
    <div class="govuk-grid-row tile-group">

      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Skills measure</span>
                  
              </a>
              <div class="govuk-body warning-info-2">4.0%</div>
              <span id="ob1" class="govuk-body onboarding-info">
                  
                  
                 
                   
                  <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
              </span>
          </div>




      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Progression measure</span> <br>
                  <span class="govuk-body govuk-!-font-size-16"></span>
              </a>
              <div class="govuk-body warning-info-2">77.0%</div>
              <span id="ob6" class="govuk-body onboarding-info">
                      <div class="arrow-up"></div>
                      <a class="close" href="#">Close</a>
                      View reports
                       <br>
                      <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                  </span>
          </div>

          <div class="govuk-grid-column-one-half tile">
            <a class="grey min-height-small" href="#">
                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Priority skills measure</span>
                
            </a>
            <div class="govuk-body warning-info-2">28.9%</div>
            <span id="ob1" class="govuk-body onboarding-info">
                
                
               
                 
                <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
            </span>
        </div>




    <!--<div class="govuk-grid-column-one-half tile">
            <a class="grey min-height-small" href="#">
                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Quality Achievement Rate (QAR)</span> <br>
                <span class="govuk-body govuk-!-font-size-16"></span>
            </a>
            <div class="govuk-body warning-info-2">2018/19</div>
            <span id="ob6" class="govuk-body onboarding-info">
                    <div class="arrow-up"></div>
                    <a class="close" href="#">Close</a>
                    View reports
                     <br>
                    <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                </span>
        </div>-->

    </div>
    <p></p>
    &nbsp; &nbsp; <h2 class="govuk-heading-m">Achievement measures</h2>
    <div class="govuk-grid-row tile-group">
      

      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Education and training</span>
                  
              </a>
              <div class="govuk-body warning-info-2">80.3</div>
              <span id="ob1" class="govuk-body onboarding-info">
                  
                  
                 
                   
                  <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
              </span>
          </div>




      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Apprenticeships</span> <br>
                  <span class="govuk-body govuk-!-font-size-16"></span>
              </a>
              <div class="govuk-body warning-info-2">60.7%</div>
              <span id="ob6" class="govuk-body onboarding-info">
                      <div class="arrow-up"></div>
                      <a class="close" href="#">Close</a>
                      View reports
                       <br>
                      <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                  </span>
          </div>

          

    </div>

    <p></p>
    &nbsp; &nbsp; <h2 class="govuk-heading-m">English and maths</h2>
    <div class="govuk-grid-row tile-group">
      

      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">English 16-18</span>
                  
              </a>
              <div class="govuk-body warning-info-2">-</div>
              <span id="ob1" class="govuk-body onboarding-info">
                  
                  
                 
                   
                  <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
              </span>
      </div>




      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">English 19+</span> <br>
                  <span class="govuk-body govuk-!-font-size-16"></span>
              </a>
              <div class="govuk-body warning-info-2">81.9%</div>
              <span id="ob6" class="govuk-body onboarding-info">
                      <div class="arrow-up"></div>
                      <a class="close" href="#">Close</a>
                      View reports
                       <br>
                      <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                  </span>
      </div>

      <div class="govuk-grid-column-one-half tile">
        <a class="grey min-height-small" href="#">
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Maths 16-18</span>
            
        </a>
        <div class="govuk-body warning-info-2">-</div>
        <span id="ob1" class="govuk-body onboarding-info">
            
            
           
             
            <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
        </span>
</div>




<div class="govuk-grid-column-one-half tile">
        <a class="grey min-height-small" href="#">
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Maths 19+</span> <br>
            <span class="govuk-body govuk-!-font-size-16"></span>
        </a>
        <div class="govuk-body warning-info-2">88.3%</div>
        <span id="ob6" class="govuk-body onboarding-info">
                <div class="arrow-up"></div>
                <a class="close" href="#">Close</a>
                View reports
                 <br>
                <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
            </span>
</div>

          

    </div>

    
   
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}