{% extends "layouts/main.html" %}

{% block pageTitle %}
  Primary navigation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}
  {{ xGovukPrimaryNavigation({
    visuallyHiddenTitle: "Site navigation",
    items: [{
      text: "Page 1",
      href: "#"
    }, {
      text: "Page 2",
      href: "#"
    }]
  }) }}

  <div class="govuk-width-container">
    

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <p></p>
          </div>
          <div class="govuk-grid-column-one-third-from-desktop govuk-!-text-align-right">
            <div class="govuk-form-group">
            <label class="govuk-body govuk-!-font-size-19">
              Choose a provider
            </label>
            <!--<div id="subject-hint" class="govuk-hint">
              This can be different to where you went before
            </div>-->
            <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
              <option value="choose" selected>1st Care Training Limited</option>
              <option value="eastmidlands">A provider</option>
              <option value="eastofengland">B provider</option>
              <option value="london">B college</option>
              <option value="northeast">North East</option>
              <option value="northwest">North West</option>
              <option value="southeast">South East</option>
              <option value="southwest">South West</option>
              <option value="westmidlands">West Midlands</option>
              <option value="yorkshire">Yorkshire and the Humber</option>
            </select>
          </div>
          </div>
        </div>
        <div class="govuk-grid-column-full">
          
          
          <h1 class="govuk-heading-l">
            Further education
          </h1>

         <br>

          

          <div class="govuk-grid-row tile-group">

            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="learners">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Learners</span>
                        
                    </a>
                    <div class="govuk-body warning-info-2">Headline, funding and learner</div>
                    <span id="ob1" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        lorem ipsum
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                    </span>
                </div>




            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="families">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Performance</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"></span>
                    </a>
                    <div class="govuk-body warning-info-2">Apps, AEB and 16-19</div>
                    <span id="ob6" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            lorem ipsum
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                        </span>
                </div>


            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Funding</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Key skills 5 and acheivement rates</div>
                <span id="ob4" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View 13 reports
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                    </span>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Demographics</span> <br>
                   <!-- <span class="govuk-body govuk-!-font-size-16">Funding Rules Monitoring</span>--> 
                    
                </a>
                <div class="govuk-body warning-info-2"> Apps, AEB and 16-19</div>
                <span id="ob5" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next5">Next</a> 
                    </span>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="schools">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Region</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"></span>
                </a>
                <div class="govuk-body warning-info-2">BAME</div>
                <span id="ob6" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View reports
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                    </span>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Comparisons</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Compare your performance</div>
                <span id="ob4" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        Lorem ipsum
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                    </span>
            </div>

            <!--<div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="strategy">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Other</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Sources, definitions and links</div>
                <span id="ob1" class="govuk-body onboarding-info">
                    <div class="arrow-up"></div>
                    <a class="close" href="#">Close</a>
                    View reports 
                     <br>
                    <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                </span>
            </div>-->


    

    </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
