{% extends "layouts/main.html" %}

{% block pageTitle %}
  Primary navigation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}
  {{ xGovukPrimaryNavigation({
    visuallyHiddenTitle: "Site navigation",
    items: [{
      text: "Delivery",
      href: "delivery"
    }, {
      text: "Quality",
      href: "quality"
    }, {
      text: "Demographics",
      href: "demographics"
    }]
  }) }}

  <div class="govuk-width-container">
    {{ govukBackLink({
      href: "javascript:window.history.back()"
    }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-l">1st Care Training Limited</span>
          <h1 class="govuk-heading-l">
            Demographics
          </h1>

        <BR>
          

          <div class="govuk-grid-row tile-group">

            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="apprenticeships">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Apprenticeships</span>
                        
                    </a>
                    <div class="govuk-body warning-info-2">Apps, AEB and 16-19</div>
                    <span id="ob1" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        lorem ipsum
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                    </span>
                </div>




            <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="families">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Education and training</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"></span>
                    </a>
                    <div class="govuk-body warning-info-2">Key skills 5 and acheivement rates</div>
                    <span id="ob6" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            lorem ipsum
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                        </span>
                </div>


            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Traineeships</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Key skills 5 and acheivement rates</div>
                <span id="ob4" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View 13 reports
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                    </span>
            </div>

           <!--<div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Traineeships</span> <br>
                 <span class="govuk-body govuk-!-font-size-16">Funding Rules Monitoring</span>
                    
                </a>
                <div class="govuk-body warning-info-2"> Apps, AEB and 16-19</div>
                <span id="ob5" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next5">Next</a> 
                    </span>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="schools">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Traineeships</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"></span>
                </a>
                <div class="govuk-body warning-info-2">BAME</div>
                <span id="ob6" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View reports
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                    </span>
            </div>

           <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="#">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Comparisons</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Compare your performance</div>
                <span id="ob4" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        Lorem ipsum
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                    </span>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="strategy">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Other</span> <br>
                    <span class="govuk-body govuk-!-font-size-16"> </span>
                </a>
                <div class="govuk-body warning-info-2">Sources, definitions and links</div>
                <span id="ob1" class="govuk-body onboarding-info">
                    <div class="arrow-up"></div>
                    <a class="close" href="#">Close</a>
                    View reports 
                     <br>
                    <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                </span>
            </div>-->


    

    </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
