{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
<span id="dob-hint" class="govuk-hint">
VYED administration</span>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">16-19 residency data and MI report</h1>

        <h2 class="govuk-heading-m"></h2>

      




        <h2 class="govuk-heading-m">Product details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
              16-19 provider data and MI report
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        

        
           <div class="govuk-summary-list__row">
            
            
            <dt class="govuk-summary-list__key">
              Category
              </dt>
            <dd class="govuk-summary-list__value">
              Management information
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Owner
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:bobby.tiplady@education.gov.uk">bobby.tiplady@education.gov.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Access roles
              </dt>
              <dd class="govuk-summary-list__value">
                BIR
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Restrictions
              </dt>
            <dd class="govuk-summary-list__value">
              No restrictions 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        </dl>
        
        

        <h2 class="govuk-heading-m">Power BI details</h2>
        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details
            </dt>
            <dd class="govuk-summary-list__value">
              Workspace, name, link, description
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
  

        </dl>



        <h2 class="govuk-heading-m">Row-level security</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details
            </dt>
            <dd class="govuk-summary-list__value">
              Default role, Role, UKPRN
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          
          

          


        </dl>


        
        

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="#" class="govuk-button show-continue">
         Save and update
    </a>
    &nbsp;&nbsp;

  
    <a href="product-update"  class="govuk-button govuk-button--secondary">Cancel</a><br>


        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}