{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Summary</h1>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="summary">Headline summary</a>
                </li>


                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="funding">Funding summary</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="learner">Learner summary</a>
                </li>
            </ul>
        
        </nav>

       </div>
       </div>
        

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">   

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Funding summary
        </h1>
      </legend><br>
    
      
      <h2 class="govuk-heading-m">1st Care Trianing Limited</h2>
      <p><STRONG>UKPRN:</STRONG> 10046498<br>
        <STRONG>Local authority district :</STRONG> Norwich<br>
        <STRONG>Region:</STRONG> East of England<br>
        <STRONG>Provider type:</STRONG> Private sector</p>

      <!--<p><img src="/public/images/databricks-login.png" class="app-walkthrough-image"></p>
      <br>
      
      <div class="govuk-button-group">
                  
        <a href="notebooks-running-code" class="govuk-button show-continue" style="display: inline;">
          Next
        </a>
        
        <a href="notebooks-learning" class="govuk-button govuk-button--secondary" style="display: inline;">
          Back
        </a>
      
      </div>-->
        
        
      
      </div>
             
            </div>
          </div>
        </main>
      </div>

{% endblock %}