{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  

{% endblock %}

{% block content %}




<div class="govuk-grid-row flex">

       

   <div class="govuk-grid-column-full"><br>

       <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
            <span id="dob-hint" class="govuk-hint">
            Your education data</span>
            
                </legend>-->
            
   
        

      <h2 class="govuk-heading-l">Your education data</h2>

       <!--<span class="govuk-caption-xl">Data for academic year 2022-23</span><br>-->



        <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-half tile">
                    <a class="min-height" href="achievement" target="_blank"> 
                        <span class="govuk-heading-m heading">Achievements and performance</span>
                        <span class="govuk-heading govuk-!-font-size-16"></span>
                    </a>
                </div>

                
     
                <div class="govuk-grid-column-one-half tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">College finance</span>
                        <span class="govuk-heading govuk-!-font-size-16"></span>
                    </a>
                    
                </div>

                <!--<div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">End point assessment</span>
                        <span class="govuk-heading-m heading">0</span>
                    </a>
                    
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Employer feedback</span>
                        <span class="govuk-heading-m heading">3.7</span>
                    </a>
                    
    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Breaks in learning</span>
                        <span class="govuk-heading govuk-!-font-size-16">Over 180 days: 0.1%</span><br>
                        <span class="govuk-heading govuk-!-font-size-16">Over 365 days: 0.4%</span>
                    </a>
                </div>-->


                <div class="govuk-grid-column-one-half tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Data quality assurance</span>
                        <span class="govuk-heading govuk-!-font-size-16"></span><br>
                        
                    </a>
                </div>




                <!--<div class="govuk-grid-column-one-half tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Data publishing</span>
                        <span class="govuk-heading govuk-!-font-size-16">Manage data and documnets</span>
                    </a>
                    
    
                </div>

               
            <div class="govuk-grid-column-one-half tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Site settings</span>
                        <span class="govuk-heading govuk-!-font-size-16">Site administration and kill switch</span>  
                    </a>
                </div>-->


            </div><br>
            <hr>

            <br>
            <h2 class="govuk-heading-m">
                Support
              </h2>
        
              <p>
                If you need help - you can <a href="#">submit an enquiry</a>
              </p>
            

                
    
        </div>
   

    
        
        
    </div>
    
</div>


{% endblock %}