{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/get-started/">
          Get started
        </a>

          <button type="button" class="app-navigation__button js-app-navigation__button" hidden="" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Get started
          </button>
          <!-- [html-validate-disable-next aria-label-misuse --- inline fix for html-validate rule, rather than disable it entirely] -->
          <ul class="app-navigation__subnav js-app-navigation__subnav " aria-label="Get started" hidden="" id="js-mobile-nav__subnav-0">
            <li class="app-navigation__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/">
                Get started overview
              </a>
            </li>
              <li>
                  <h3 class="app-navigation__theme">Setup guides</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/prototyping/">
                        Prototyping
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/production/">
                        Production
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">How to guides</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/updating-your-code/">
                        Replace variables, functions and mixins from our old frameworks
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/labels-legends-headings/">
                        Making labels and legends headings
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/extending-and-modifying-components/">
                        Extending and modifying components in production
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/focus-states/">
                        Understanding focus state styles
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
      </li>
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/styles/">
          Styles
        </a>

          <button type="button" class="app-navigation__button js-app-navigation__button" hidden="" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Styles
          </button>
          <!-- [html-validate-disable-next aria-label-misuse --- inline fix for html-validate rule, rather than disable it entirely] -->
          <ul class="app-navigation__subnav js-app-navigation__subnav " aria-label="Styles" hidden="" id="js-mobile-nav__subnav-1">
            <li class="app-navigation__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/">
                Styles overview
              </a>
            </li>
              <li>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/colour/">
                        Colour
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/images/">
                        Images
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/layout/">
                        Layout
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/links/">
                        Links
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/lists/">
                        Lists
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/page-template/">
                        Page template
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/spacing/">
                        Spacing
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/">
                        Typography
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
      </li>
      <li class="app-navigation__list-item  app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/components/">
          Components
        </a>

          <button type="button" class="app-navigation__button js-app-navigation__button" hidden="" id="js-mobile-nav-subnav-toggler-2" aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">
            Components
          </button>
          <!-- [html-validate-disable-next aria-label-misuse --- inline fix for html-validate rule, rather than disable it entirely] -->
          <ul class="app-navigation__subnav js-app-navigation__subnav app-navigation__subnav--active" aria-label="Components" hidden="" id="js-mobile-nav__subnav-2">
            <li class="app-navigation__subnav-item app-navigation__subnav-item--current">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/">
                Components overview
              </a>
            </li>
              <li>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/accordion/">
                        Accordion
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/back-link/">
                        Back link
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/breadcrumbs/">
                        Breadcrumbs
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/button/">
                        Button
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/character-count/">
                        Character count
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/checkboxes/">
                        Checkboxes
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/cookie-banner/">
                        Cookie banner
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/date-input/">
                        Date input
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/details/">
                        Details
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/error-message/">
                        Error message
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/error-summary/">
                        Error summary
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/exit-this-page/">
                        Exit this page
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/fieldset/">
                        Fieldset
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/file-upload/">
                        File upload
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/footer/">
                        Footer
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/header/">
                        Header
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/inset-text/">
                        Inset text
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/notification-banner/">
                        Notification banner
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/pagination/">
                        Pagination
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/panel/">
                        Panel
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/phase-banner/">
                        Phase banner
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/radios/">
                        Radios
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/select/">
                        Select
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/skip-link/">
                        Skip link
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/summary-list/">
                        Summary list
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/table/">
                        Table
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/tabs/">
                        Tabs
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/tag/">
                        Tag
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/text-input/">
                        Text input
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/textarea/">
                        Textarea
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/warning-text/">
                        Warning text
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
      </li>
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/patterns/">
          Patterns
        </a>

          <button type="button" class="app-navigation__button js-app-navigation__button" hidden="" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Patterns
          </button>
          <!-- [html-validate-disable-next aria-label-misuse --- inline fix for html-validate rule, rather than disable it entirely] -->
          <ul class="app-navigation__subnav js-app-navigation__subnav " aria-label="Patterns" hidden="" id="js-mobile-nav__subnav-3">
            <li class="app-navigation__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/">
                Patterns overview
              </a>
            </li>
              <li>
                  <h3 class="app-navigation__theme">Ask users for…</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/addresses/">
                        Addresses
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/bank-details/">
                        Bank details
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/dates/">
                        Dates
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/email-addresses/">
                        Email addresses
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/equality-information/">
                        Equality information
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/gender-or-sex/">
                        Gender or sex
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/names/">
                        Names
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/national-insurance-numbers/">
                        National Insurance numbers
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/passwords/">
                        Passwords
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/payment-card-details/">
                        Payment card details
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/telephone-numbers/">
                        Telephone numbers
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">Help users to…</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/check-a-service-is-suitable/">
                        Check a service is suitable
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/check-answers/">
                        Check answers
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/confirm-a-phone-number/">
                        Confirm a phone number
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/confirm-an-email-address/">
                        Confirm an email address
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/contact-a-department-or-service-team/">
                        Contact a department or service team
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/create-a-username/">
                        Create a username
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/create-accounts/">
                        Create accounts
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/exit-a-page-quickly/">
                        Exit a page quickly
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/start-using-a-service/">
                        Start using a service
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/validation/">
                        Recover from validation errors
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">Pages</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/confirmation-pages/">
                        Confirmation pages
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/cookies-page/">
                        Cookies page
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/page-not-found-pages/">
                        Page not found pages
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/problem-with-the-service-pages/">
                        There is a problem with the service pages
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/question-pages/">
                        Question pages
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/service-unavailable-pages/">
                        Service unavailable pages
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/step-by-step-navigation/">
                        Step by step navigation
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/patterns/task-list-pages/">
                        Task list pages
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
      </li>
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/community/">
          Community
        </a>

          <button type="button" class="app-navigation__button js-app-navigation__button" hidden="" id="js-mobile-nav-subnav-toggler-4" aria-expanded="false" aria-controls="js-mobile-nav__subnav-4">
            Community
          </button>
          <!-- [html-validate-disable-next aria-label-misuse --- inline fix for html-validate rule, rather than disable it entirely] -->
          <ul class="app-navigation__subnav js-app-navigation__subnav " aria-label="Community" hidden="" id="js-mobile-nav__subnav-4">
            <li class="app-navigation__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/">
                Community overview
              </a>
            </li>
              <li>
                  <h3 class="app-navigation__theme">What we’re working on</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/upcoming-components-patterns/">
                        Upcoming components and patterns
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/roadmap/">
                        Roadmap
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">Ways to get involved</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/share-research-findings/">
                        Share findings about your users
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/propose-a-component-or-pattern/">
                        Propose a component or pattern
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/develop-a-component-or-pattern/">
                        Develop a component or pattern
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/propose-a-content-change-using-github/">
                        Propose a content change using GitHub
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">How we work</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/community-principles/">
                        Community principles
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/contribution-criteria/">
                        Contribution criteria
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/design-system-working-group/">
                        Design System working group
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/accessibility-strategy/">
                        Accessibility strategy
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/blogs-talks-podcasts/">
                        Blog posts, videos and podcasts
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">Resources</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/resources-and-tools/">
                        Resources and tools
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                  <h3 class="app-navigation__theme">Events and workshops</h3>
                <ul class="app-navigation__list">
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/design-system-day/">
                        Join us for Design System Day
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/design-system-day-2022/">
                        Design System Day 2022
                      </a>
                    </li>
                    <li class="app-navigation__subnav-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/community/design-system-day-2023/">
                        Design System Day 2023
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
      </li>
  </ul>
</nav>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Euston Place Dental Practice
    
    
  <span class="govuk-caption-m">UKPRN: 87651234</span></h1>     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Change status</h1><br>

       
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                  First waiting 

                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Second assigned

                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Second waiting 

                </label>
              </div>

              

              

              

              
            </div>
          </fieldset>
        </div>

       

        
        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="dash2" class="govuk-button show-continue">
         Save status
    </a>
  

   

        </form>

      </div>
    </div>
  
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}