{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
     <hr>
     <h2 class="govuk-heading-l">Alpha October 2023</h2>
      
      <p><strong>FE performance dashboard </strong> <a href="start/start-page"> Start</a></p>
      <hr>
      <h2 class="govuk-heading-m"></h2>
      <p>FE briefing tool <a href="briefing/start-page"> with no navigation header</a></p>
      <hr>
      <br>
      <p>Option 1 <a href="new1/start-page">for AAF merged with QARs</a></p>
      <hr>
     <br>
     <p>Option 2 <a href="new2/start-page">for AAF merged with QARs</a></p>
     <br>
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
